.container {
    
}
.container:hover{
    cursor:pointer;
    box-shadow: 3px 3px #DEEBFA;
    transform: translate(-3px, -3px);
}

.container_addition {
    
}
.container_addition:hover{
    cursor:pointer;
    box-shadow: 0px 1px #7BA5C9;
    transform: translate(0px, -1px);
}